* {
  margin: 0;  
  padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #0a6789;
    margin-left: 10%;
}

#subtitulo{
    font-family: sans-serif;
    color: #0a6789;
    margin-left: 5%;
}

#check{
    display: inline-block;
}

fieldset{
    border: 0;
}

body{
    background-color:#e7e7e7;
    font-family: sans-serif;
    font-size: 1.02em;
    color: #008b62;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    font-family: sans-serif;
    font-size: 1em;
    color: #1e79cf;
    border-radius: 5px;
}

.grupo:before,.grupo:after{
    display:table;
}

.grupo:after{
    clear:both;
}

.campo {
    margin-bottom: .1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type='text'],.campo select, .campo textarea, .campo input[type='date'], .campo input[type='number']{
    padding: 0.2em;
    border: 1px solid #1e79cf;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus ,.campo input [type='date']:focus, .campo input[type='number']:focus{
    background-color: #cfcfcf;
    border:1px solid #1e79cf;
    outline: none;
}

.botao{
    font-size: 1.2em;
    background-color: #89373d;
    border: 0;
    margin-bottom: 1em;
    color: #f8f8f8;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.botao:hover{
    background: #e05a63;
    box-shadow: inset 2px 2px rgba(0, 0, 0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor:pointer;
}